.container {
    margin-top: 20px;
    margin-bottom: 20px;
}
.title{
    margin-top: 10px;
    text-align: center;
}
.card {
    width: 18rem; /* Set the width of each card */
    margin: 10px; /* Add margin between cards */
}

.card-group {
    display: flex; /* Make the card group a flex container */
    flex-wrap: wrap; /* Allow cards to wrap to the next line if there's not enough space */
    justify-content: center; /* Center the cards within the container */
}